# Python
*.pyc
*.pyo
__pycache__/
*.pyd

# Virtual environment
venv/
env/
ENV/
.venv/
.env

# Django
*.log
*.pot
*.py[cod]
db.sqlite3
*.sqlite3
media/
staticfiles/
local_settings.py

# IDEs / Editors
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Local database / temporary files
*.db
.tables

# Django migrations (optional)
crm/migrations/
