# Python
*.pyc
*.pyo
__pycache__/
*.pyd

# Virtual environment
venv/
env/
ENV/
.venv/

# Django
*.log
*.pot
*.py[cod]
__pycache__/
db.sqlite3
*.sqlite3
media/
staticfiles/
local_settings.py

# IDEs / Editors
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

